<template>
  <div class='banner'>
    <h1>Banner</h1>
  </div>
</template>

<script>
export default {
  name: 'Banner',
  data () {
    return {
      hidedVideo: false
    }
  },
  methods: {
  },
  computed: {
  }
}
</script>

<style scoped>
</style>
